:root{
    --bodyBg : black;
    --bgColor : red;
    --h1Color : black;
    --h1bgColor : black;
    --btnColor : rgba(255, 0, 0, 0.733);
    --textColor: red;
    --commentsColor: black;

}

        body{
        background: var(--bodyBg);
        color: var(--textColor);
        height: 100vh;
        overflow: scroll;
        }


  
    .hero-section-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 40px;
    }  

    .hero{
    position: relative;
    aspect-ratio: 16/9;

    p{
    position: absolute;
    top:25%;
  text-align: center;
  button{background: var(--btnColor); border: none;padding: auto;} 
    }
    }

      
    .hero-section-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 40px;
    }  

    .hero{
    position: relative;
    aspect-ratio: 16/9;

    p{
    position: absolute;
    top:25%;
  text-align: center;
  button{background: var(--btnColor); border: none;padding: auto;} 
    }
    }

    /* REELS STYLES*/

    .reels-contianer{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    
    .reels-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
     height: 170px;
     margin-top: 10px;
     overflow: scroll;
    }
    
    .reels{
    background: var(--bgColor);
    width: 100px;
    height: 100%;
    flex-shrink: 0;
    outline: auto;
    color: var(--h1Color);
    }


    /*BLOG STYLES*/

    .blogContainer{
        width: 100%;
        }
    
        .blogPost{
        margin-inline:0.5em;
        }
    
        .blog-header{
       .captionHeader{text-align: center;text-decoration: underline;}    
        .caption{text-align: justify; font-size: 5vw;
        button{border: none; background-color: var(--btnColor);}
        }
        }
    
        .blogMedia{
        width: 90%;
        margin: auto;
        }
    
        .blogFooter{
        background: var(--bgColor);
        display: flex;
        align-items: center;
        justify-content: center;
        gap:3em;
        margin-block: 0.4em;
        }
    
        .blogComments{background: var(--bgColor);
        color: var(--commentsColor); height: 150px;overflow: hidden;}
    
        .commentator{display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        font-size: 6vw;
        padding-inline: 0.4em;
    position: relative;
        img{padding-top:0.2em;}
        }


/* PopOver Menu */

.popover{display: none;}


.popOver {
    display: block; /* Display the popover when this class is added */
    position: absolute;
    top: 25%;
    left: 10%;
    background: var(--bgColor);
    margin: 0;
    animation: fade 3s linear;
}

.popOver a {
    color: var(--h1Color);
    display: flex;
    flex-direction: column;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

